<!-- Created: Oct. 2, 2017 1:25 AM
Author: Jeanine
        Jonathan Gryn
        Maike
        Tatianna
        Wesley
Revisions: Jon (10/2/17) - Added html-->

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Task Saver</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>


<!-- ===========================================================================
============================================================================ -->

<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Day planner!</title>
</head>
<body>
  {{{ body }}}
</body>
</html> -->
