<!-- Created: Oct. 2, 2017 1:25 AM
Author: Jeanine Smith
        Jonathan Gryn
        Maike Scherer
        Tatianna Watwood
        Wesley Klotzly
Revisions: Jon (10/2/17) - Added html
					 Jon (10/4/17) - Added main.handlebars -->

<!DOCTYPE html>
<html>
  <head lang="us-en">
    <meta charset="utf-8">

    <title>Friend Finder</title>

    <!-- Link to the jQuery Library -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- Including Font Awesome Icons -->
    <script src="https://use.fontawesome.com/b38c8ed4c7.js"></script>

    <!-- Link to reset stylesheet -->
    <link rel="stylesheet" href="css/reset.css">

    <!-- Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

    <!-- Compiled and minified Materialize JavaScript -->
    <script src="https:////cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="css/style.css">

  </head>

  <body>
    <header>
      <nav>
        <div class="nav-wrapper blue accent-2">
          <i class="fa fa-address-book-o fa-5x" aria-hidden="true" id="logo-icon"></i>
          <a href="/" class="brand-logo" id="logo">Planner</a>
          <ul class="right hide-on-med-and-down" id="head-nav-links">
            <li><a href="/planner">Planner</a></li>
            <li><a href="/api/todos">API Todos</a></li>
            <li><a href="https://github.com/jongryn/FriendFinder">GitHub Repo</a></li>
          </ul>
        </div>
      </nav>
    </header>

    {{{ body }}}

    <footer class="page-footer blue accent-2">
      <div class="container">
        <div class="row">
          <div class="col 16 s12">
            <h5 class="white-text">Planner App</h5>
            <p class="grey-text text-lighten-4">Thank you for using our planner app. Your inputs will be used for training purposes only.</p>
          </div>
          <div class="col 14 offset-12 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="/api/todos">API Todos</a></li>
              <li><a class="grey-text text-lighten-3" href="https://github.com/jongryn/FriendFinder">GitHub Repo</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2017 team brown uci media
          <a class="grey-text text-lighten-4 right" href="https://github.com/jongryn">Reference Work</a>
        </div>
      </div>
    </footer>
  </body>



  </body>
</html>
